In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
raw_data = pd.read_csv('../DataSets/winequality-red.csv')

In [44]:
raw_data.quality.unique()

array([7, 6, 5, 8, 4, 3], dtype=int64)

In [19]:
raw_data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [34]:
raw_data = raw_data.sample(len(raw_data))

In [41]:
raw_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1150,8.2,0.330,0.32,2.8,0.067,4.0,12.0,0.99473,3.30,0.76,12.8,7
113,10.1,0.310,0.44,2.3,0.080,22.0,46.0,0.99880,3.32,0.67,9.7,6
1571,6.4,0.380,0.14,2.2,0.038,15.0,25.0,0.99514,3.44,0.65,11.1,6
1164,9.0,0.785,0.24,1.7,0.078,10.0,21.0,0.99692,3.29,0.67,10.0,5
293,6.9,0.360,0.25,2.4,0.098,5.0,16.0,0.99640,3.41,0.60,10.1,6

# For instance, we first select best feature and divide them into two part as a CART states. then calculate GINI value of both part and similarly calculate GINI value for all features and select only that column which have low GINI value.

In [ ]:
bins = (2, 6.5, 8)
group_names = ['bad', 'good']
wine['quality'] = pd.cut(wine['quality'], bins = bins, labels = group_names)